* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.banner {
  width: 100%;
  height: 100vh;
  background: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.banner__content {
  display: flex;
  align-items: center;
  height: 100vh;
  color: #fff;
}
.container {
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
}
.banner__text {
  width: 500px;
}

.banner__text h1 {
  font-size: 60px;
  line-height: 80px;
  font-weight: 900;
  text-shadow: 8px 9px 4px #000000;
  color: rgb(236, 112, 99);
}
.banner__text p {
  font-size: 25px;
  font-weight: 400;
  margin-top: 10px;
  text-shadow: 1px 1px 100px #000000;
}

.navbar {
  position: block;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(00, 00, 00, 0.8);
}
.navbar__text {
  display: flex;
  height: 100px;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}
.navbar__text a:hover {
  transition: 1s;
  color: red;
}

.navbar__text a {
  transition: 0.5s;
  color: white;
}
.logo {
  width: 40%;
}
.logo img {
  width: 220px;
}
.navbar__ul {
  width: 60%;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}
.navbar__ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
}
.navbar__ul li {
  padding: 10px 20px;
}
.navbar__ul .order {
  text-decoration: none;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 700;
  border-radius: 30px;
  width: 200px !important;
  font-size: 13px;
  padding: 15px 30px;
  transition: 1s;
  background: rgb(255, 69, 79);
}
.order:hover {
  width: 100px;
  height: 100px;
  background: orange;
  transition: 1s;
  color: #000000 !important;
}
.banner__btn {
  margin-top: 35px;
}
.btn {
  text-decoration: none;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 700;
  border-radius: 30px;
  font-size: 12px;
  padding: 20px 40px;
  transition: 1s;
}

.btn:hover {
  width: 100px;
  height: 100px;
  background: orange;
  transition: 1s;
  color: #000000;
}

.btn-smart {
  background: rgb(255, 69, 79);
}

.about {
  padding: 80px 0;
}

.p-25 {
  padding: 45px;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.col-6 {
  width: 50%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333333333%;
}
.about h3 {
  color: rgba(37, 37, 37, 0.7);
  font-size: 30px;
  margin-bottom: 12px;
  font-weight: 700;
}
.about h1 {
  font-size: 40px;
  color: #252525;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 15px;
}
.about p {
  font-size: 18px;
  color: #8b8b8b;
  font-weight: 300;
}

.about__btn {
  margin-top: 35px;
}
.about__img {
  width: 100%;
  overflow: hidden;
}

.about__img img {
  width: 100%;
}
.shop {
  width: 100%;
  background: url("bg.jpg");
  height: 400px;
  background-attachment: fixed;
  text-align: center;
}
.shop__text {
  height: 400px;
  display: flex;
  align-items: center;
  width: 700px;
  justify-content: center;
  margin: 0 auto;
  color: #fff;
}
.shop__text h1 {
  font-size: 40px;
  line-height: 80px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1px;
}
.shop__btn {
  margin-top: 30px;
}

.clients {
  width: 100%;
  padding: 100px 0;
  background: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
}

.client {
  text-align: center;
  font-size: 15px;
}
.client h1 {
  font-style: 50px;
  transition: 0.5s;
}

.client h1:hover {
  color: orangered;
  font-size: 35px;
  transition: 0.5s;
}
.client p {
  font-style: 18px;
  font-weight: 400;
  margin-top: 10px;
  transition: 0.5s;
}

.prices {
  width: 100%;
  padding: 80px 0;
}

.price {
  padding: 20px;
  text-align: center;
}
.price__img {
  width: 100%;
}

.price__img img {
  width: 250px;
}

.price__heading {
  margin-top: 20px;
  font-size: 25px;
  transition: 0.5s;
}
.price__heading:hover {
  color: orangered;
  transition: 0.5;
}
.price__text {
  margin-top: 15px;
  color: #888888;
  font-size: 18px;
  font-weight: 300;
}

.price_rs {
  font-size: 30px;
  margin-top: 15px;
}

.footer {
  background-color: rgba(00, 00, 00, 0.8);
  color: #fff;
  padding: 20px;
}
.footer .footer_text {
  text-align: center;
  margin: auto 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
  font-size: medium;
}
.Routes-text {
  text-align: center;
  margin-top: 200px;
  transition: 0.5s;
}
.Routes-text:hover {
  color: orangered;
  transition: 0.5;
}

@media (max-width: 700px) {
  .navbar__text {
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
  .logo {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .container {
    width: 100%;
    padding: 0 30px;
  }
  .banner__text {
    width: auto;
  }
  .banner__text h3 {
    font-size: 25px !important;
  }
  .banner__text h1 {
    font-size: 40px;
    line-height: 60px;
    font-weight: 900;
    margin-top: 20px;
  }
  .banner__text p {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
  }
  .navbar__ul {
    width: 100%;
    justify-content: center;
  }
  .navbar__ul li a {
    text-decoration: none;
    color: #fff;
    padding: 0 10px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .col-3,
  .col-4,
  .col-6 {
    width: 100%;
  }
  .client {
    margin: 20px 0;
  }
  .about h1 {
    font-size: 25px;
  }
  .shop h1 {
    font-size: 25px;
  }
  .menu h1 {
    font-size: 25px;
  }
}
